# Catkin folders
.catkin_workspace
build/*
devel/*

# Result files
data/results/*
data/configs/trained_ann/*
data/analysis/*

# Python compiled files
*.pyc

# Pictures and data
*.csv
*.png
*.jpg
*.jpeg
*.pkl
*.npy

# Other built files
*build*
*OpenCM*
