# Catkin folders
.catkin_workspace
build/*
devel/*

# Result files
data/results/*
data/configs/trained_ann/*
data/analysis/*

# Python compiled files
*.pyc

# Pictures and data
*.csv
*.jpg
*.jpeg
*.pkl
*.npy
*.png
!docs/
!docs/*
!docs/*/*
!docs/*/*/*
!docs/*/*/*/*
!docs/*/*/*/*/*
!docs/*/*/*/*/*/*
!src/tigrillo_plot/plotter_gui
!src/tigrillo_plot/plotter_gui/*
!src/tigrillo_plot/plotter_gui/*/*
!src/tigrillo_plot/plotter_gui/*/*/*

# Other built files
*build*
*OpenCM*
