<?xml version="1.0"?>
<model>
  <name>Tigrillo Feet</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Gabriel Urbain</name>
   <email>gabriel.urbain@ugent.be</email>
  </author>

  <description>
    This model is a rough representation of a quadruped robot hosted in the IDLab of Ghent Univeristy. This simple compliant robot is actuated by 4 servomotors in on the hips and shoulder and makes use of springs in the knees to walk fluently. The experiment aims at benchmarking quadruped walking with gazebo and opensim using neural CPGs, compute robust and adaptative motor signals and compare performance with the actual real-world platform.
  </description>
</model>